@inherits LayoutComponentBase
<div class="page">
    <main>
            @Body
        @* Required *@
        <MudThemeProvider />
        <MudPopoverProvider />

        @* Needed for dialogs *@
        <MudDialogProvider />

        @* Needed for snackbars *@
        <MudSnackbarProvider />
    </main>
</div>
