@inherits LayoutComponentBase

    <div class="container">
        <div class="left-panel">
            <div class="content-box">
                <img src="me.png" alt="Picture of Myself" class="profile-picture">
                <h1 class="name">Edward Barrier III</h1>
                <h5 class="desc">Full-Stack .NET Developer with over 3 years of experience</h5>
                <p class="location"><span>📍</span> Kansas City, Missouri</p>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/edwardbarrieriii/" target="_blank" class="social-link">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/Ebarrieriii" target="_blank" class="social-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="path_to_your_resume.pdf" download class="social-link">
                        <i class="fa fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="right-panel-content-box">
                <div class="skills">
                    <h1>Skills</h1>
                    <h2>Front-End</h2>
                    <div class="skill-tags front-end">
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">JavaScript</span>
                        <span class="tag">Bootstrap</span>
                    </div>
                    <h2>Back-End</h2>
                    <div class="skill-tags back-end">
                        <span class="tag">C#</span>
                        <span class="tag">Api</span>
                        <span class="tag">Entity Framework Core</span>
                        <span class="tag">Dapper</span>
                        <span class="tag">LINQ</span>
                    </div>
                    <h2>Database</h2>
                    <div class="skill-tags database">
                        <span class="tag">Microsoft SQL Server</span>
                        <span class="tag">PostgreSQL</span>
                    </div>
                    <h2>DevOps</h2>
                    <div class="skill-tags devops">
                        <span class="tag">CI/CD</span>
                        <span class="tag">Azure DevOps</span>
                        <span class="tag">Automated Testing</span>
                        <span class="tag">Docker</span>
                    </div>
                    <h2>Cloud</h2>
                    <div class="skill-tags cloud">
                        <span class="tag">Azure</span>
                        <span class="tag">Azure Service Bus</span>
                        <span class="tag">Azure Storage</span>
                        <span class="tag">Azure App Service</span>
                        <span class="tag">Azure Container Instance</span>
                        <span class="tag">Azure SQL</span>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="skills">
                    <h1>Experience</h1>
                    <h2>Front-End</h2>
                    <div class="skill-tags front-end">
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">JavaScript</span>
                        <span class="tag">Bootstrap</span>
                    </div>
                    <h2>Back-End</h2>
                    <div class="skill-tags back-end">
                        <span class="tag">C#</span>
                        <span class="tag">Api</span>
                        <span class="tag">Entity Framework Core</span>
                        <span class="tag">Dapper</span>
                        <span class="tag">LINQ</span>
                    </div>
                    <h2>Database</h2>
                    <div class="skill-tags database">
                        <span class="tag">Microsoft SQL Server</span>
                        <span class="tag">PostgreSQL</span>
                    </div>
                    <h2>DevOps</h2>
                    <div class="skill-tags devops">
                        <span class="tag">CI/CD</span>
                        <span class="tag">Azure DevOps</span>
                        <span class="tag">Automated Testing</span>
                        <span class="tag">Docker</span>
                    </div>
                    <h2>Cloud</h2>
                    <div class="skill-tags cloud">
                        <span class="tag">Azure</span>
                        <span class="tag">Azure Service Bus</span>
                        <span class="tag">Azure Storage</span>
                        <span class="tag">Azure App Service</span>
                        <span class="tag">Azure Container Instance</span>
                        <span class="tag">Azure SQL</span>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="skills">
                    <h1>Education</h1>
                    <h2>Front-End</h2>
                    <div class="skill-tags front-end">
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">JavaScript</span>
                        <span class="tag">Bootstrap</span>
                    </div>
                    <h2>Back-End</h2>
                    <div class="skill-tags back-end">
                        <span class="tag">C#</span>
                        <span class="tag">Api</span>
                        <span class="tag">Entity Framework Core</span>
                        <span class="tag">Dapper</span>
                        <span class="tag">LINQ</span>
                    </div>
                    <h2>Database</h2>
                    <div class="skill-tags database">
                        <span class="tag">Microsoft SQL Server</span>
                        <span class="tag">PostgreSQL</span>
                    </div>
                    <h2>DevOps</h2>
                    <div class="skill-tags devops">
                        <span class="tag">CI/CD</span>
                        <span class="tag">Azure DevOps</span>
                        <span class="tag">Automated Testing</span>
                        <span class="tag">Docker</span>
                    </div>
                    <h2>Cloud</h2>
                    <div class="skill-tags cloud">
                        <span class="tag">Azure</span>
                        <span class="tag">Azure Service Bus</span>
                        <span class="tag">Azure Storage</span>
                        <span class="tag">Azure App Service</span>
                        <span class="tag">Azure Container Instance</span>
                        <span class="tag">Azure SQL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

