@page "/"


<div class="container">
    <div class="left-panel">
        <div class="content-box">
            <img src="me.png" alt="Picture of Myself" class="profile-picture">
            <h1 class="name">Edward Barrier III</h1>
            <h5 class="desc">Full-Stack .NET Developer with over 3 years of experience</h5>
            <p class="location"><span>📍</span> Kansas City, Missouri</p>

            <div class="divider"></div> <!-- Subtle divider -->

            <div class="social-links">
                <a href="https://www.linkedin.com/in/edwardbarrieriii/" target="_blank" class="social-link">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/Ebarrieriii" target="_blank" class="social-link">
                    <i class="fa fa-github"></i>
                </a>
                <a href="files/resume.pdf" target="_blank" class="social-link">
                    <i class="fa fa-file-pdf"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-panel-content-box">
            <div class="about-me card">
                <h1>About Me</h1>
                <p>
                    I'm a full stack <strong>.NET Developer</strong> with a strong focus on 
                    <strong>back-end development</strong>. I enjoy:
                </p>
                <ul>
                    <li>Learning about <strong>software architecture, cloud computing, and DevOps.</strong></li>
                    <li>Spending time at the gym, skateboarding, and playing video games.</li>
                </ul>
                <p>
                    My career goals include:
                </p>
                <ul>
                    <li>Building meaningful software with an awesome team</li>
                    <li>Mentoring and supporting other engineers in their growth</li>
                </ul>
                <p>I'm passionate about building a strong team culture, helping others succeed, and building
                     high-quality software.
                </p>
            </div>
            <br />
            <div class="skills card">
                <h1>Skills</h1>
                <h2>Front-End</h2>
                <div class="skill-tags front-end">
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                    <span class="tag">Bootstrap</span>
                </div>
                <h2>Back-End</h2>
                <div class="skill-tags back-end">
                    <span class="tag">C#</span>
                    <span class="tag">Api</span>
                    <span class="tag">Entity Framework Core</span>
                    <span class="tag">Dapper</span>
                    <span class="tag">LINQ</span>
                </div>
                <h2>Database</h2>
                <div class="skill-tags database">
                    <span class="tag">Microsoft SQL Server</span>
                    <span class="tag">PostgreSQL</span>
                </div>
                <h2>DevOps</h2>
                <div class="skill-tags devops">
                    <span class="tag">CI/CD</span>
                    <span class="tag">Azure DevOps</span>
                    <span class="tag">Automated Testing</span>
                    <span class="tag">Docker</span>
                </div>
                <h2>Cloud</h2>
                <div class="skill-tags cloud">
                    <span class="tag">Azure</span>
                    <span class="tag">Azure Service Bus</span>
                    <span class="tag">Azure Storage</span>
                    <span class="tag">Azure App Service</span>
                    <span class="tag">Azure Container Instance</span>
                    <span class="tag">Azure SQL</span>
                </div>
            </div>
            <br />
            <div class="experience card">
                <h1>Experience</h1>
                <div class="job-card">
                    <div class="job-header">
                        <h2>Tickets For Less</h2>
                        <p class="job-dates">Dec 2023 - Current</p>
                    </div>
                    <ul>
                        <li>Deployed scalable web jobs on Azure App Services for backend automation.</li>
                        <li>Designed and managed databases with Entity Framework Core and SQL Server.</li>
                        <li>Developed and deployed C# applications in Docker containers hosted with Azure Container
                            Instances and automated via Azure DevOps pipelines.</li>
                        <li>Established automated unit testing integrated into DevOps pipelines to maintain code
                            quality.</li>
                        <li>Built CI/CD pipelines with Azure DevOps for seamless builds and deployments.</li>
                        <li>Created APIs and automated backend processes triggered by timers or events.</li>
                    </ul>

                </div>
                <div class="job-card">
                    <div class="job-header">
                        <h2>Production Data</h2>
                        <p class="job-dates">Dec 2023 - Dec 2024</p>
                    </div>
                    <ul>
                        <li>Developed .NET Core API backends.</li>
                        <li>Automated processes with SQL Triggers, Stored Procedures, and PowerShell scripts.</li>
                        <li>Managed 10 Windows VM servers for deployments and maintenance.</li>
                        <li>Translated several site managers' needs into .NET Core MVC and web form solutions.</li>
                        <li>Established end-to-end CI/CD using Azure DevOps pipelines.</li>
                    </ul>
                </div>
                <div class="job-card">
                    <div class="job-header">
                        <h2>Nations Title</h2>
                        <p class="job-dates">Mar 2022 - Aug 2022</p>
                    </div>
                    <ul>
                        <li>Developed RESTful Web APIs utilizing JSON.</li>
                        <li>Established and managed online repositories while leveraging Git in conjunction with Azure
                            DevOps.</li>
                        <li>Collaborated within a Kanban process, using Jira for project tracking.</li>
                        <li>Applied Service Oriented Architecture principles to write maintainable and modular code.
                        </li>
                        <li>Constructed optimized SQL queries for integration with the chosen ORM.</li>
                        <li>Built full-stack web applications using .NET Core MVC.</li>
                        <li>Maintained and enhanced features of legacy software, contributing to .NET Framework
                            applications.</li>
                    </ul>

                </div>
                <div class="job-card">
                    <div class="job-header">
                        <h2>All About Doors & Windows</h2>
                        <p class="job-dates">Oct 2021 - Mar 2022</p>
                    </div>
                    <ul>
                        <li>Architect, develop, and uphold dynamic websites, employing front-end technologies, while
                            integrating them with Netsuite's robust backend.</li>
                        <li>Craft captivating websites through the synergy of LiquidJS, HTML, CSS, and
                            JavaScript/jQuery, integrated with the Shopify platform.</li>
                        <li>Collaborate with management to develop e-commerce strategies and to integrate these
                            strategies into web applications.</li>
                        <li>Utilize jQuery to enhance interactivity and dynamic content on web pages.</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="testimonials card">
                <h1>What People Have To Say</h1>

                <div class="testimonial-card">
                    <p class="quote">
                        “In every capacity, Ed has consistently demonstrated a strong commitment to excellence, technical curiosity, and leadership that far exceeds expectations for his role.”<br/>
                        “He raises the bar for those around him, not just through his code, but through the way he collaborates and leads.”
                    </p>
                    <p class="author">— Jon Beachner, Director of Software Engineering</p>
                    <a href="files/jb_recommendation.pdf" class="read-more" target="_blank">Read full letter →</a>
                </div>

                <div class="testimonial-card">
                    <div class="testimonial-header">
                        <div class="text">
                            <p class="quote">
                                “He
                                approaches every challenge with an open mind and an eagerness to learn, always pushing
                                himself outside of his comfort zone.”
                            </p><br/>
                            <p class="quote">
                                "Even when production
                                systems are in crisis or deadlines are looming, he maintains a cool head, handles stressful
                                situations efficiently, and ensures that tasks are completed to the highest standard."
                            </p>
                            <p class="author">— Seth Walton, Software Engineer II</p>
                            <a href="files/sw_recommendation.pdf" class="read-more" target="_blank">Read full letter →</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="experience card">
                <h1>Education</h1>
                <div class="job-card">
                    <div class="job-header">
                        <h2>Centriq Training</h2>
                        <p class="job-dates">Mar 2021 - Jun 2021</p>
                    </div>
                    <ul>
                        <li>Focus on .NET framework with 40-hour weeks dedicated to project development</li>
                        <li>Gained proficiencies in HTML, CSS, JavaScript, jQuery, Bootstrap, and React</li>
                        <li>Developed skills in C#, LINQ, MVC, Entity Framework, and SQL</li>
                        <li>Enhanced expertise in Responsive Web Design and front-end technologies</li>
                    </ul>
                </div>
                <div class="job-card">
                    <div class="job-header">
                        <h2>Metropolitan Community College</h2>
                        <p class="job-dates">Aug 2017 - Jan 2021</p>
                    </div>
                    <ul>
                        <li>Gained hands-on experience with C++, HTML, CSS, and JavaScript</li>
                        <li>Built a strong technical foundation in programming and development</li>
                        <li>Developed problem-solving and analytical skills through a broad general education</li>
                        <li>Discovered my passion for a career in software development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>